async-timeout
boto3
lxml
beautifulsoup4
confluent-kafka
grpcio
xmltodict
etcd3
kubernetes
docker
quart
httpx==0.17.*
retry
ariadne
gql[aiohttp]==3.0.0a5
pydantic==1.8.*
isodate
sqlalchemy
psycopg2-binary
# Optional development dependency
grpcio-tools
pudb
pylint
flake8
Quart-CORS
