import setuptools

GIT_VERSION = '{{git_version}}'

with open("README.md", "r", encoding="utf-8") as fh:
    LONG_DESCRIPTION = fh.read()

SETUP_ARGS = {{setup_args}}


setuptools.setup(
    version=GIT_VERSION,
    long_description=LONG_DESCRIPTION,
    **SETUP_ARGS
)
